html {
	background-image: url("images/background.png");
	height: 100%;
	margin: 0;
	padding: 0;
	}

body {
	width: 1000px;
	background-color: #ffffff;
	margin: 0 auto; 
	height: auto;
	}

header {
	background-image: url("images/header.png");
	width: 100%;
	height: 150px;
	margin: 0 auto; 
	}

#logo {
	float: left;
	padding-top: 15px;
	}

#browseyear {
	margin-left: 50px;
	}
	
.laureateprofilepicture {
	height: 200px;
	margin: 10px 10px 10px 0;
	float: left;
}
h3.year{
	margin: 0 0 0 50px;
	clear: both;
}	
.laureateprofiletext {
	margin: 0 50px;
	clear: both;
}

.laureateprofiletext p{
	padding-top: 10px;
}

main{
	margin: 0 50px;
	padding-bottom: 30px;
}
main article.laureateprofiletext{
	margin: 0;
}
.laureateImg{
	float: left;
	margin-right: 20px;
}
.info{
	float: left;
	width:  692px;
}
.laureateName{
	font-size: 24px;
	margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 0;
    float: right;
}

li {
    float: left;
}

ul li a:link, ul li  a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333;
    text-align: center;
    padding: 8px 4px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
}
 ul li  a:hover{
 	background-color: #999;
 }